.about-section {
    padding-top: 150px;
    text-align: center;
    width:80%;
    margin:0 auto;
    padding-bottom: 100px;
}

.about-section form {
    text-align: left;
}

.about-section h3 {
    color: red;
    text-align: center;
}