<div id="page-container">
  <div id="content-wrap">
    <header>
    <!--nav-bar starts here -->
    <div class="nav-bar navbar navbar-expand-md"> 
            
      <div class="left-menu">
          <a href="#" class="mix">Thanothii Ganesh</a>
      </div>

      <div class="right-menu">
          <ul class="my-menu ml-auto"> 
              <li> <a class="nav-link" routerLink="/home">Home</a> </li>
              <li> <a class="nav-link" routerLink="/myblog">Sample Blog</a> </li>
              <li> <a class="nav-link" routerLink="/photoblog">Photolio</a> </li>
              <li> <a class="nav-link" routerLink="/bandweb">Band Website</a> </li>
              <li> <a class="nav-link" routerLink="/artweb">Art Website</a> </li>
          </ul>
      </div> 

    </div>
    <!-- nav-bar ends here -->
    </header>

    <!-- Begin page content -->
    <router-outlet></router-outlet>

</div>

  <footer id="footer" class="footer">
   
  </footer>

</div>