<div class="page-header" style="text-align: center; margin-top:100px; font-family: 'Raleway', sans-serif;">
    <h1>THANOTHII'S BLOG</h1>
    <p>I post cool stuff</p>
  </div>

  <div class="container" style="padding-bottom: 300px;">
    <div class="row">
        <div class="col-lg-8" style="height:700px;">
            <div class="card shadow p-3 mb-5 bg-white rounded"  style="height: 500px;">
                <img class="card-img-top" src="assets/woods.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">This is my heading</h5>
                  <h6 class="card-subtitle mb-2 text-muted">18th April 2020</h6>
                  <p class="card-text">Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at</p>
                  <a href="#" class="btn btn-primary">READ MORE</a>
                </div>
            </div>
    
            <div class="card shadow p-3 mb-5 bg-white rounded"  style="height: 500px;">
              <img class="card-img-top" src="assets/bridge.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">BLOG ENTRY</h5>
                <h6 class="card-subtitle mb-2 text-muted">May 10th 2020</h6>
                <p class="card-text">Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at</p>
                <a href="#" class="btn btn-primary">READ MORE</a>
              </div>
          </div>
        </div>
    
    
        <div class="col-lg-4">
            <div class="card shadow p-3 mb-5 bg-white rounded">
                <img class="card-img-top" src="assets/avatar_g.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">This is my heading</h5>
                  <p class="card-text">Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at</p>
                  <a href="#" class="btn btn-primary">READ MORE</a>
                </div>
              </div>
    
              <div class="card shadow p-3 mb-5 bg-white rounded">
                <div class="card-title"><h5>  Popular posts</h5>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Cras justo odio</li>
                  <li class="list-group-item">Dapibus ac facilisis in</li>
                  <li class="list-group-item">Vestibulum at eros</li>
                </ul>
              </div>
        </div>
    </div>
    </div>