<div class="my-container">

    <!--banner starts here -->
    <div class="banner-section">
        <div class="banner-text">
            <h2 style="font-family: 'Roboto Slab', serif;">Looking for a</h2>
            <h1 style="font-size: 60px; font-family: 'Roboto Slab', serif;"><b>Web Developer?</b></h1>
            <p>Check out my work</p><br>
            <a href="#" class="btn btn-danger theme-button">MY WORK</a>
            <a href="#" class="btn btn-outline-danger theme-button">HIRE ME</a>
        </div>
    </div>
    <!--banner ends here-->



    <div class="about-us-section">
        <div class="my-heading-title"><h1>About me</h1></div>
        <div class="img-box"> </div>
        <div class="txt-box"> 
            <h2 style="padding-bottom: 20px;"> Why hire me for your next project? </h2>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas mauris purus, volutpat ut feugiat a, auctor in nisi. Ut varius eget lorem sit amet gravida. Pellentesque et dui ac lacus elementum suscipit. Aenean viverra, mi vel malesuada ultrices, enim nisi accumsan ex, quis dapibus lorem nisi vel orci. </p>
            <p> Suspendisse eget lorem metus. Fusce bibendum faucibus massa, at lacinia mi condimentum eget. Pellentesque nec elit efficitur, convallis metus sit amet, fringilla ex. Duis eu neque vel felis aliquam interdum ut eget enim. Duis quis semper nulla, nec hendrerit leo.</p>
        </div>
    </div>


    <div class="img-txt-section">
        <div class="blocks-altogether row">
            <div class="blocks col-lg-3"><h1>Business strategy</h1> <p>Donec et venenatis libero. Fusceing dapibus pulvinar tincidunt. Proin maximus ipsum ut scelerisque.</p> </div>
            <div class="blocks col-lg-3"><h1>Responsive Design</h1><p>Donec et venenatis libero. Fusceing dapibus pulvinar tincidunt. Proin maximus ipsum ut scelerisque.   </p> </div>
            <div class="blocks col-lg-3"><h1>Interactive Design</h1> <p>Donec et venenatis libero. Fusceing dapibus pulvinar tincidunt. Proin maximus ipsum ut scelerisque.</p> </div>
            <div class="blocks col-lg-3"><h1>Motion Graphic</h1> <p>Donec et venenatis libero. Fusceing dapibus pulvinar tincidunt. Proin maximus ipsum ut scelerisque.</p> </div>
        </div>
    </div>

    <div class="my-services-sec">
    <div class="my-heading-title"><h1>My services</h1></div>
    <div class="white-boxes-altogether row">
        <div class="white-boxes col-lg-4">
            <i class="fab fa-modx"></i> 
                <h2>Unique Design</h2> <p>Donec et venenatis libero. Fusceing dapibus pulvinar tincidunt. Proin maximus ipsum ut scelerisque.</p> 
        </div>

        <div class="white-boxes col-lg-4">
            <i class="fas fa-podcast"></i>
                <h2>Different Layout</h2> <p>Donec et venenatis libero. Fusceing dapibus pulvinar tincidunt. Proin maximus ipsum ut scelerisque.</p> 
        </div>

        <div class="white-boxes col-lg-4">
            <i class="fas fa-chart-bar"></i>
                <h2>Make it simple</h2> <p>Donec et venenatis libero. Fusceing dapibus pulvinar tincidunt. Proin maximus ipsum ut scelerisque.</p> 
        </div>
    </div>

    </div>

    <div class="features-sec row">
        <div class="col-lg-6 glasses-girl">
        </div>
        <div class="col-lg-6 transparent-features">
            <div class="grid-container">
                <div>
                    <i class="fas fa-laptop"></i>
                    <h2>Responsiveness</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero, dolore.</p>
                </div>
                <div>
                    <i class="fas fa-database"></i>
                    <h2>Testing for Perfection</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero, dolore.</p>
                </div>
                <div>
                    <i class="fas fa-lock"></i>
                    <h2>Advanced Options</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero, dolore.</p>
                </div>
                <div>
                    <i class="fab fa-codepen"></i>
                    <h2>Make it Simple</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero, dolore.</p>
                </div>
                <div>
                    <i class="fas fa-mobile"></i>
                    <h2>Different Layout</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero, dolore.</p>
                </div>
                <div>
                    <i class="fab fa-modx"></i>
                    <h2>Unique Design</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero, dolore.</p>
                </div>
            </div>
        </div>

    </div>

    <div class="latest-works-sec">
        <div class="my-heading-title"><h1>Latest Projects</h1></div>
        <div class="photo-grid">
            <div><img src="assets/g1.jpg" class="photo"></div>
            <div><img src="assets/g2.jpg" class="photo"></div>
            <div><img src="assets/g3.jpg" class="photo"></div>
            <div><img src="assets/g4.jpg" class="photo"></div>
            <div><img src="assets/g5.jpg" class="photo"></div>
            <div><img src="assets/g6.jpg" class="photo"></div>
            <div><img src="assets/g7.jpg" class="photo"></div>
            <div><img src="assets/g8.jpg" class="photo"></div>
            <div><img src="assets/g9.jpg" class="photo"></div>
        </div>
    </div>

    <div class="video-bg">
            <div class="video-text">
                <h1>Let's work together!</h1>
            </div>
    </div>

    <div class="contact-sec">
        <div class="my-heading-title"><h1>Contact me</h1></div>
        <form>
            <div class="w3-section">
              <label><b>Name</b></label>
              <input class="w3-input w3-border" type="text" required name="Name">
            </div>
            <div class="w3-section">
              <label><b>Email</b></label>
              <input class="w3-input w3-border" type="text" required name="Email">
            </div>
            <div class="w3-section">
              <label><b>Message</b></label>
              <input class="w3-input w3-border" required name="Message">
            </div>
            <button type="submit" class="w3-button w3-block w3-dark-grey">Send</button>
          </form>

    </div>
</div>