<div class="page-header" style="text-align: center; margin-top:100px; font-family: 'Raleway', sans-serif;">
    <h1>PHOTOLIO</h1>
    <p>Check out my photography!</p>
  </div>

  <div class="container">
      <div class="row">
            <div class="col-md-4">
                <img src="assets/img1.jpg" style="width:100%">
                <img src="assets/img6.jpg" style="width:100%; padding-top:30px;">
                <img src="assets/img5.jpg" style="width:100%; padding-top:30px;">
                <img src="assets/img12.jpg" style="width:100%; padding-top:30px;">
            </div>
            <div class="col-md-4">
                <img src="assets/img2.jpg" style="width:100%">
                <img src="assets/img3.jpg" style="width:100%; padding-top:30px;">
                <img src="assets/img8.jpg" style="width:100%; padding-top:30px;">
                <img src="assets/img10.jpg" style="width:100%; padding-top:30px;">
            </div>
            <div class="col-md-4">
                <img src="assets/img4.jpg" style="width:100%">
                <img src="assets/img7.webp" style="width:100%; padding-top:30px;">
                <img src="assets/img11.jpg" style="width:100%; padding-top:30px;">
                
            </div>
      </div>
  </div>